<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <v-form  @submit="onSubmit" >
            <v-field id="email" name="email" type="email" placeholder="請輸入 Email" rules="email|required" v-model="user.email"></v-field>
            <error-message name="email" ></error-message> <br>
            <v-field name="地區" rules="required" placeholder="請輸入地區" as="select" v-model="user.region">
                <option value="">請選擇地區</option>
                <option value="台北市">台北市</option>
                <option value="高雄市">高雄市</option>
            </v-field>
            <error-message name="地區" ></error-message> <br>
            <v-field name="電話" placeholder="請輸入電話" :rules="isPhone" v-model="user.phone"></v-field>
            <error-message name="電話" ></error-message>
            <button type="submit">送出</button>
        </v-form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>          <!-- 載入vee-validate套件 -->
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>
<script type="module">
    console.log(VeeValidate)                                            //建立規則
    VeeValidate.defineRule('email', VeeValidateRules['email']);
    VeeValidate.defineRule('required', VeeValidateRules['required']);
    VeeValidateI18n.loadLocaleFromURL('./zh_TW.json');

    // Activate the locale
    VeeValidate.configure({                                     //加入多國語言系
    generateMessage: VeeValidateI18n.localize('zh_TW'),         //指定為台灣專用json檔
    validateOnInput: true,                                      //調整為輸入字元立即進行驗證            
    });
    
    const app = Vue.createApp({
        data() {
            return {
                user:{
                    email:'',
                    region:'',
                    phone:'',
                }
            }
        },
        methods: {
            isPhone(value){
                const phoneNumber = /^(09)[0-9]{8}$/
                return phoneNumber.test(value) ? true : '需要正確的電話號碼'
            },
            onSubmit(){
                console.log("送出成功")
                console.log(this.user)
            }
        },
    });
    app.component('VForm', VeeValidate.Form);
    app.component('VField', VeeValidate.Field);
    app.component('ErrorMessage', VeeValidate.ErrorMessage);

    app.mount('#app');
</script>
</html>